.test-page-icon {
    i {
        margin-right: 20px;
    }

    .font-24 {
        font-size: 24px;
    }

    .font-36 {
        font-size: 36px;
    }

    .color-red {
        color: #f5222d;
    }

    .color-blue {
        color: #0958d9;
    }

    .color-cyan {
        color: #08979c;
    }
}