// Brand Color
$brand-default: #F34040;
$brand-hover: #F56560;
$brand-click: #C9282D;
$brand-special: #F88981;
$brand-disabled: #FAACA3;
$brand-text-disabled: #FDCDC5;
$brand-light: #FFECE8;

// Primary Color
$primary-default: #48F;
$primary-hover: #65A2FF;
$primary-click: #2A62D2;
$primary-special: #86BAFF;
$primary-disabled: #A6D0FF;
$primary-text-disabled: #C7E3FF;
$primary-light: #E8F4FF;

// Success Color
$success-default: #1EB464;
$success-hover: #3DC377;
$success-click: #139A57;
$success-special: #61D28E;
$success-disabled: #8AE1AA;
$success-text-disabled: #B7F0CA;
$success-light: #F2FFF6;

// Info Color
$info-default: #50A0F0;
$info-hover: #6DB4F3;
$info-click: #3277C7;
$info-special: #8BC8F6;
$info-disabled: #A9D9F9;
$info-text-disabled: #C8E9FC;
$info-light: #E8F7FF;

// Warning Color
$warning-default: #FF7D00;
$warning-hover: #FF9A2E;
$warning-click: #D25F00;
$warning-special: #FFB65D;
$warning-disabled: #FFCF8B;
$warning-text-disabled: #FFE4BA;
$warning-light: #FFF7E8;

// Error Color
$error-default: #FF5546;
$error-hover: #FF7866;
$error-click: #D2342B;
$error-special: #FF9987;
$error-disabled: #FFB7A7;
$error-text-disabled: #FFD4C8;
$error-light: #FFEEE8;

// Link Color
$link-default: #48F;
$link-hover: #65A2FF;
$link-click: #2A62D2;
$link-special: #86BAFF;
$link-disabled: #A6D0FF;
$link-text-disabled: #C7E3FF;
$link-light: #E8F4FF;


// Fill Color
$fill-default: #F3F4F5;
$fill-hover: #E8E9EB;
$fill-click: #DCDDE0;
$fill-disabled: #E8E9EB;

// Border Color
$border-default: #E8E9EB;
$border-hover: #C9CACC;
$border-click: #D7D7D9;
$border-disabled: #D7D7D9;
$border-special: #AFB0B3;

// Text Color
$title-main: #000;
$title-subordinate: #303133;
$info-description: #616266;
$info-gray: #949599;
$text-white: #FCFCFC;