.App-wrap {
  background-color: #f7f7f7;
  padding: 20px;

  .App-link-group {
    a {
      margin-right: 20px;
    }
  }

  .App-link-body {
    margin-top: 50px;
  }
}

// @media (prefers-reduced-motion: no-preference) {
//   .App-logo {
//     animation: App-logo-spin infinite 20s linear;
//   }
// }

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }